:root {
    --background: #e0e1dd;
    --foreground: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}


main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin: 0 auto;
}

.chat-section {
    flex: 1 1 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #eaf4f4;
    justify-content: space-between;

    .chat-window {
        flex: 1;
        overflow-y: auto;
        margin-bottom: 20px;
        padding-right: 10px;
        position: relative;

        .chat-title {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            left: 50%;
            top: 0;
            width: 80%;
            min-height: 45px;
            background-color: #0d1b2a;
            border-radius: 15px;
            padding: 7px 0 10px 10px;
            transform: translateX(-50%);
            transition: min-height 0.3s ease-in-out, transform 0.3s ease-in-out;

            .text {
                font-size: 1.1rem;
                font-weight: 400;
                color: #ffffff;
                margin-bottom: 8px;
            }

            &.no-chatting {
                transform: translateX(-50%) translateY(500%);
                min-height: 75px;
                text-align: center;
            }

            .new-chat-button {
                margin-left: 15px;
                padding: 5px 10px;
                background-color: #415a77;
                color: #fff;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-size: 0.9rem;
                width: fit-content;

                &:hover {
                    background-color: #324a66;
                }
            }
        }
    }

    .messages-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        overflow-y: auto;
        height: calc(100% - 90px);
        margin-top: 60px;

        @media screen and (max-width: 1500px) {
            margin-top: 100px;
        }

        .message {
            max-width: 70%;
            font-size: 1rem;
            line-height: 1.4;

            &.received-message {
                align-self: flex-start;

                .message-text {
                    background-color: #355070;
                    color: #ffffff;
                }
            }
            &.sent-message {
                align-self: flex-end;

                .message-text {
                    background-color: #90e0ef;
                    color: #000000;
                }
            }

            .message-text {
                white-space: pre-wrap;
                word-wrap: break-word;
                padding: 10px 15px;
                border-radius: 10px;
            }

            .info {
                display: flex;
                justify-content: space-between;
                gap: 5px;

                span {
                    font-size: 0.7rem;
                    color: #555555;

                }
            }
        }
    }

    .message-input__container {
        display: flex;
        align-items: center;
        border-top: 1px solid #1a1a1a;
        padding-top: 10px;

        .message-input {
            flex: 1;
            padding: 10px;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            margin-right: 10px;
            outline: none;
            color: #ffffff;
            background-color: #333333;

            &::placeholder {
                color: #bbbbbb;
            }
        }

        .send-button {
            padding: 10px 20px;
            background-color: #415a77;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1rem;

            &:hover {
                background-color: #324a66;
            }
        }
    }
}

.sidebar {
    flex: 1 1 20%;
    height: 100%;
    padding: 20px;
    background-color: #0d1b2a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 350px;
    min-width: 300px;

    @media screen and (max-width: 1500px) {
        width: 100%;
        flex: 1;
        max-width: 100%;
    }

    .logo-text {
        font-size: 1.7rem;
        font-weight: 500;
        margin-bottom: 20px;
        text-align: center;
    }

    .stats {
        .stat-item {
            margin-bottom: 40px;
            text-align: center;

            .stat-label {
                font-size: 1rem;
                color: #e8e1e1;
            }

            .stat-number {
                font-size: 2.5rem;
                font-weight: bold;
                color: #ffffff;
            }
        }
    }

    .author-credit {
        font-size: 0.7rem;
        color: #a0a0a0;
        text-align: center;
    }
}